<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2016-2017 Connor Wyatt <connorwyatt1@gmail.com>.
  ~
  ~ This file can not be copied and/or distributed without the express permission of Connor Wyatt.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.connorwyatt.flashcards">

    <application
        android:name=".FlashcardsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.FlashcardListActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FlashcardDetailsActivity"
            android:parentActivityName=".activities.FlashcardListActivity" />
        <activity android:name=".activities.FlashcardTestActivity" />
        <activity android:name=".activities.TagListActivity" />
        <activity
            android:name=".activities.TagDetailsActivity"
            android:parentActivityName=".activities.TagListActivity" />
        <activity android:name=".activities.AuthActivity" />
    </application>

</manifest>
